*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}



.section1{
    display: flex;
    background-image: url("top-banner.png");
    background-repeat: no-repeat;

}

.highlight{
    color: orange;
}

.half-div{
    width: 50%;
    padding-left: 2%;
    margin: 30px;

}

.half-imag{
    width: 50%;
}

.half-img img{
    width: 80%;
}


.anchor-button{
    background-color: orange;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 20px;
    transition: 1.6s;
    background-image: linear-gradient(orange, tomato);
    font-weight: 1000;
    color: white;

   


}

.anchor-button:hover{
    background-color: green;
    padding: 10px 60px;     
    display: inline-block;
    text-align: center;
    
}